src/main/mule/customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">	<http:listener-config
		name="customer-api-httpListenerConfig">
		<http:listener-connection host="${http.host}"
			port="${http.port}" />
	</http:listener-config>
	<apikit:config name="customer-api-config"
		api="customer-api.raml" outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<flow name="customer-api-main">
		<http:listener
			config-ref="customer-api-httpListenerConfig" path="${api.path}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="customer-api-config" />
		<error-handler ref="apikit-error-handler" />
	</flow>
	<flow name="customer-api-console">
		<http:listener
			config-ref="customer-api-httpListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="customer-api-config" />
		<error-handler ref="apikit-error-handler" />
	</flow>
	<flow
		name="put:\customers\(customerId):application\json:customer-api-config">
		<logger level="INFO" doc:name="Updating customer" doc:id="e81228a1-87d7-4cdc-8a98-ddcbb4947d53" message="#[&quot;Updating Customer with ID &quot; ++ (attributes.uriParams.customerId default &quot;&quot;)]" />
		<flow-ref doc:name="Flow Reference"
			doc:id="94bf0b03-bf5e-4d33-9912-d0c4bb1b4675"
			name="put-customer-by-id-flow" />
		<logger level="INFO" doc:name="Customer updated" doc:id="ef98ac46-2f2f-4442-8a56-5bc97d9d5705" message="#[&quot;Customer with ID &quot; ++ (vars.customerId default &quot;&quot;) ++ &quot; updated successfully&quot;]" />
	</flow>
	<flow name="get:\customers:customer-api-config">
		<flow-ref doc:name="Flow Reference"
			doc:id="12b60869-fd67-4b6c-af91-44e3f816e8bf"
			name="get-customers-flow" />
	</flow>
	<flow name="get:\customers\(customerId):customer-api-config">
		<logger level="INFO" doc:name="Retrieving Customer" doc:id="1d3598b4-7f57-41dd-82de-cfac681678a7" message="#[&quot;Retrieving Customer with ID &quot; ++ (attributes.uriParams.customerId default &quot;&quot;)]" />
		<flow-ref doc:name="Flow Reference"
			doc:id="cd3acb40-8cd8-4e92-b51f-2a004466645d"
			name="get-customer-by-id-flow" />
		<logger level="INFO" doc:name="Customer Retrieved" doc:id="f5bd740d-3f54-47c8-85cc-53d077080e42" message="#[&quot;Customer with ID &quot; ++ (vars.customerId default &quot;&quot;) ++ &quot; retrieved successfully&quot;]" />
	</flow>
	<flow name="post:\customers:application\json:customer-api-config">
		<logger level="INFO" doc:name="Creating Customer" doc:id="ca958109-5a89-4561-a423-385c98a13822" message="#[&quot;Creating new Customer&quot;]" />
		<flow-ref doc:name="Flow Reference"
			doc:id="0790c635-e659-4cd1-8bf7-efec44e10c85"
			name="post-customers-flow" />
		<logger level="INFO" doc:name="Customer Created" doc:id="4a483e72-cd9a-4ba7-9111-d1583eba0f90" message="#[&quot;Customer with ID &quot; ++ (vars.customerId default &quot;&quot;) ++ &quot; created successfully&quot;]" />
	</flow>
</mule>
